body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Exo', sans-serif;
  text-align: left;
  font-size: 3rem;
  line-height: 1.5;
}

h2{
  width: 90%;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

p{
  font-family: 'Montserrat', sans-serif;
  width: 66%;
  color: #8f8f8f;
  margin: auto;
  font-weight: 400;
}



/* Navigation bar */

.navbar {
padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-size: 2.8rem;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}


/* Title */

#title {
  background-color: #ff4c68;
  background-image: linear-gradient(to bottom right, #900d0d, #e8505b);
  text-align: left;
}


.container-fluid {
  padding: 3% 15% 6% 15%;
  margin-bottom: 0;
}

.download-btn-ap {
  margin: 5% 3% 5% 0;
  text-align: left;
  font-family: 'Montserrat-regular', sans-serif;
}

.download-btn-gg {
  margin: 5% 3% 5% 0;
  text-align: left;
  font-family: 'Montserrat-regular', sans-serif;
}

.phone-img {
  width: 50%;
  transform: rotate(24deg);
  position: absolute;
  left: 30px;
}

/* Feature */

#features{
  background-color: white;
  font-weight: bolder;
  line-height: 1.5;
  padding: 7% 15%;
  position: relative;
}

.feature-box{
  text-align: center;
  padding: 4.5%;
}


.feature-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover{
  color: #ff4c68;
}

/* Testimonials */


#testimonials {
  padding: 2%;
  color: white;
  background-color: #ff4c68;
  background-image: linear-gradient(#900d0d, #ff4c68);
}

.testimonial-text {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}




/* pricing */

#pricing{
  margin: 4% auto 6%;
}

.price-btn:hover{
   color: white;
   background-color: black ;
}

.section-heading{
  padding: 4%;
  padding-top: 100px;
}



/* Call to Action */

#cta{
  text-align: center;
  padding: 10%;
  padding-bottom: 5%;
  color: white;
  background-color: #ff4c68;
  background-image: linear-gradient(to bottom right, #cf1b1b, #ff4c68);
}

.cta-text{
  font-family: 'Recursive', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}


.download-btn-ap-cta {
  margin: 5% 3% 5% 32%;
  text-align: left;
  font-family: 'Montserrat-regular', sans-serif;
}

.download-btn-gg-cta {
  margin: 5% 39% 5% 0;
  text-align: left;
  font-family: 'Montserrat-regular', sans-serif;
}



/* footer */


#footer{
  text-align: center;
  padding: 10%;
  background-color: #fff;
  line-height: 2;
}


.footer-icon{
  padding: 1%;
  padding-bottom: 2%;
}

.twitter-icon:hover{
  color: blue;
}


.facebook-icon{
  color: blue;
}

.facebook-icon:hover{
  color: #251f44;
}

.instagram-icon{
  color: magenta;
}
.instagram-icon:hover{
  color: #b52b65;
}

.gmail-icon{
  color: #ed6663;
}

.gmail-icon:hover{
  color: #810000;
}


.linkedin-icon{
  color: #318fb5;
}

.linkedin-icon:hover{
  color: blue;
}

.web-link:hover{
  opacity: 0.7;
}

.web-image{
  width: 1.5%;
  height: 1.5%;
}


/* responsive css */

@media (max-width: 1028px) {

   #title{
     text-align: center;
   }



    .phone-img {
      position: static;
      transform: rotate(0);
    }


}


@media (max-width: 1426px){

  .download-btn-ap-cta{
    margin-left: 19.221%;
  }

 .download-btn-gg-cta{
   margin-left: 1.001%;
 }

}

